#container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
#side-menu {
  position: fixed;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #0095ba;
  padding: 10px 10px 10px 36px;
  height: 100%;
  width: 330px;
  overflow: wrap;
  top: 0;
  left: 0;
}
#main-content {
  width: 80%;
}
